<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181965668938-7bnioavcks53o5n3ka382pqssg8svlhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181965668938-7bnioavcks53o5n3ka382pqssg8svlhv</string>
	<key>API_KEY</key>
	<string>AIzaSyBGe5VJFdO5n3WRGL0d2G5Xp4C82Cnlz3c</string>
	<key>GCM_SENDER_ID</key>
	<string>181965668938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication3</string>
	<key>PROJECT_ID</key>
	<string>aplicativo-trabalho</string>
	<key>STORAGE_BUCKET</key>
	<string>aplicativo-trabalho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181965668938:ios:91dee3e9b68f0d39731cb3</string>
</dict>
</plist>